[submodule "themes/hugo-journal"]
       path = themes/hugo-journal
       url = https://github.com/dashdashzako/hugo-journal.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git 
